.home__image {
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  
  .home__carousel{
    margin-bottom: -180px;
    height:70vh;
  }

  .contenedor{
    position: relative;
    padding-top: 56.25%;
  }