@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "../../styles/variables.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     font-family: 'Nunito', sans-serif;
//     font-size: 22px;
//     color: #fff;
// }

// body {
//     min-height: 100vh;
//     background-color: dodgerblue;
// }

// .App {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh; 
//   padding: 1rem 0.5rem;
// }

// section {
//     width: 100%;
//     max-width: 420px;
//     min-height: 400px;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     padding: 1rem;
//     background-color: rgba(0,0,0,0.4);
// }

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  font-size: 22px;   
  margin-top: 0.25rem;

}

button {
  padding: 0.5rem;
}

.regis {
    cursor: pointer;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    // font-size: 1rem;
    font-size: 22px;
    font-family: inherit;
    background: rgb(162, 162, 246);
    color: rgb(32, 32, 32);
    border: 1px solid transparent;
    transition: 0.3s ease all;
    margin:0.50em 0.50em;

    &:hover {
        border-color: rgb(162, 162, 246);
        background: rgba(rgb(162, 162, 246), 0.1);
        color: rgb(162, 162, 246);
    }
    &:active {
        border-color: rgb(162, 162, 246);
        background: linear-gradient(rgba(rgb(162, 162, 246), 0.2), rgba(rgb(162, 162, 246), 0.3));
        color: rgb(162, 162, 246);
    }
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

// .main {
//     // height: calc(100vh - #{$header-height});
//     height: calc(100vh - #{$header-height});
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .intro {
//         font-size: 38px;
//         text-align: center;
//         font-weight: 700;
//         color: $text2;
//         padding: $spacing-md $spacing-lg;
//         background: $bg2;
//         border-radius: $spacing-sm;
//         box-shadow: 0 0 10px $primary;
//         margin: 0 $spacing-md;

//         margin-top: -$header-height;

//         &__focus {
//             color: $primary;
//         }

//         @include breakpoint(md) {
//             font-size: 42px;
//         }
//     }
// }

// .footer {
//     /* position: fixed;      */
//          position: absolute;
//          text-align: center;    
//          bottom: 0px; 
//          width: 100%;
//   }
//   .footer p {

//     margin-bottom: 28px;
//     padding: 0;
//   }
//   .footer-by {
//     font-size: .9em;
//     margin: 60px 0 50px 0;
//     color: #7e8890;
//   }